div.banner-container
    img.banner src="./banner.png" alt="banner"
style {
    .banner-container {
        width: 100%;
        overflow: hidden; 
        position: relative;
        border-radius: 5px;
    }
    .banner {
        width: 100%;
        min-width: 1000px;
        float: right;
    }
}
